// GENERAL COLORS
$color-grey-light: #f8f9fa;
$color-grey: #979dac;
$color-grey-dark: #6f78a9;
$color-violet-light: #ebebf0;
$color-violet: #4f518c;
$color-violet-dark: #2c2a4a;
$color-blue-light: #bfd7ea;
$color-blue-light-extra: #507dbc;
$color-blue: #677db7;
$color-blue-dark: #33478c;
$color-blue-dark-extra: #262261;
$color-yellow-light: #fbf8f7;
$color-yellow: #f4e9cd;
$color-red-light: #f7ebe8;
$color-red-light-extra: #f1e4e8;
$color-red: #ff4e50;
$color-red-dark: #991c1c;
$color-green-light: #9cd08f;
$color-green-light-extra: #b8dedc;
$color-green-light-transparent: #adcdc7;
$color-green: #77aca2;
$color-green-dark: #2d898b;
$color-black-light: #4a4e69;
$color-black-light-extra: #14213d;
$color-black: #22223b;
$color-black-dark: #050505;