// GENERAL FONTS
$font-1: 'Poppins', 'Roboto', sans-serif;
$font-2: 'Roboto', sans-serif;
$font-3: 'Archivo', sans-serif;
$font-4: 'Courgette', cursive;
$font-5: 'Roboto', 'Open Sans', 'Nunito Sans', sans-serif;
$font-6: 'Prompt', sans-serif;
$font-7: 'Source Sans 3', sans-serif;
$font-8: "Inter", sans-serif;