// PLACEHOLDER MIXINS
@mixin fc-mixin-placeholder($color: initial) {

    &::-webkit-input-placeholder {
        color: $color;
    }
      
    &:-moz-placeholder {
        color: $color;
    }
      
    &::-ms-input-placeholder {
        color: $color;
    }

}