// MAIN CHAT PART
html,
body {    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; 
    overflow: hidden;
}

.fc-page-loading {
    display: none;
}

.fc-chat-container {
    width: 100%;
    height: fit-content;
    text-align: center;

    .fc-start-button {
        width: 60px;
        height: 60px;
        border: 0;
        border-radius: 50%;
        line-height: 74px;
        background-color: $color-violet; 
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        & > * {
            width: 28px;
            height: 28px;
            font-size: 26px;
            color: #FFFFFF;
        }        

    }

    .fc-chat {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2; 
        margin: 10px;
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

        .fc-chat-header {
            padding: 0 15px;
            width: 100%;
            height: 60px;
            border-radius: 6px 6px 0 0;
            background-color: $color-violet;
            color: #FFFFFF;

            h3 {
                margin: 0;
                padding: 0;
                font-family: $font-1;
                font-size: 14px;
                color: #FFFFFF;

                img {
                    display: inline-block;
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                .fc-member-picture-cover {
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -2px;
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    padding-top: 6px;
                    border-radius: 50%;
                    background-color: #e3ebff;
    
                    .bi {
                        margin: -2px auto 0;
                        width: 22px;
                        height: 22px;
                        color: $color-violet-dark;
                    }              
    
                }

                span {
                    display: inline-block;
                }

                .fc-message-typing {
                    display: none;
                    margin: 0 0 -3px 2px;
                    width: 23px;
                    aspect-ratio: 4;
                    background: 
                        no-repeat radial-gradient(circle closest-side, #FFFFFF 90%,#0000) 0%   50%,
                        no-repeat radial-gradient(circle closest-side, #FFFFFF 90%,#0000) 50%  50%,
                        no-repeat radial-gradient(circle closest-side, #FFFFFF 90%,#0000) 100% 50%;
                    background-size: calc(100%/3) 40%;
                    animation: fc-message-typing 1.2s infinite linear;
    
                    &.fc-message-typing-show {
                        display: inline-block;
                    }
    
                }

            }

            a {
                text-decoration: none;
                color: #FFFFFF;

                & > * {
                    font-size: 24px;
                    transition: color 0.3s ease-in;
                }

                &:hover,
                &:active {
                    text-decoration: none;
                    color: rgba($color: #FFFFFF, $alpha: 0.6);
                }

            }

        }

        .fc-chat-body {
            overflow-y: auto;
            padding: 15px 0;
            width: 100%;
            height: calc(100vh - 125px);
            background-color: #d2d2e6;

            &::-webkit-scrollbar-track {
                border-radius: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: $color-blue-light-extra;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            }

            .fc-chat-messages {
            
                li {
            
                    .fc-message {
                        margin-left: auto;
                        max-width: calc(90% - 58px) !important;
                    }

                    &.fc-guest-message {
            
                        .fc-message {
                            margin-left: 15px !important;
                        }
            
                    }

                    &.fc-guest-new-message {

                        .fc-message {
                            margin-left: 15px !important;
                            width: auto !important;
                        }
                        
                    }
            
                }
            
            }

        }

        .fc-chat-footer {
            width: 100%;
            height: 40px;
            border-top: 1px solid $color-grey;
            border-radius: 0 0 6px 6px;

            textarea {
                box-sizing: border-box;
                margin: 4px 0;
                padding: 7px 15px;
                width: calc(100% - 88px);
                height: 35px;
                border-radius: 0 0 0 6px;

                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background-color: $color-blue-light-extra;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                }

            }

            button {
                margin: 4px;
                width: 35px;
                height: 35px;
                border: 0;
                border-radius: 4px;
                line-height: 40px;
                background-color: transparent;
                color: $color-violet-dark;

                &.fc-attach-message-button {
                    transform: rotate(90deg);

                    & > * {
                        font-size: 21px;
                    }

                }

                &.fc-send-message-button {
                    background-color: $color-blue;
                    color: #FFFFFF;     
                    
                    & > * {
                        font-size: 18px;
                    }

                }

            }

            #fc-chat-upload-form {
                display: none;
            }

        }

        .fc-chat-start-form {
            position: absolute;
            top: 60px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            padding: 15px;
            border-radius: 0 0 6px 6px;
            background-color: #FFFFFF;
            overflow: auto;

            &::-webkit-scrollbar-track {
                border-radius: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: $color-blue-light-extra;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            }

            .col-span-full {
                display: block;
                width: 100%;
            }

            p {
                line-height: 25px;
                text-align: left;
                font-family: $font-2;
                font-size: 14px;
                font-weight: 400;
                color: $color-black-dark;
            }

            .fc-start-chat {
                line-height: 25px;
                font-size: 14px;
                color: $color-black;
            }

            .fc-start-textarea-input {
                margin-bottom: 15px;
                position: relative;
                padding: 15px 15px 15px;
                border-radius: 4px;
                background-color: rgba($color-violet, 0.1);

                .fc-init-chat-form-textarea {
                    margin: 0;
                    padding: 10px 15px 10px 15px;
                    width: 100%;
                    height:80px;
                    border: 0;
                    border: 1px solid $color-violet-light;
                    border-radius: 6px;
                    font-size: 13px;
                    font-weight: 400;
                    background-color: #FFFFFF;
                    color: $color-black-light;
                    box-shadow: 0 0 0 30px #FFFFFF inset !important;  
                    
                    &:focus,
                    &:active {
                        border-bottom: 1px solid $color-violet;
                    }

                }
                
            }

            .fc-start-chat-input {
                margin-bottom: 15px;
                position: relative;
                padding: 15px 15px 15px;
                border-radius: 4px;
                background-color: rgba($color-violet, 0.1);

                label {
                    left: 15px;
                    margin-top: -29px;
                    margin-left: 10px;
                    font-family: $font-2;
                    font-size: 13px;
                    background-color: transparent;

                    & > * {
                        width: 20px;
                        height: 20px;
                        font-size: 19px;
                        color: $color-violet;
                    }

                }

                input {
                    padding: 5px 15px 5px 40px;
                    height: 38px;
                    border: 0;
                    border: 1px solid $color-violet-light;
                    border-radius: 6px;
                    font-size: 13px;
                    font-weight: 400;
                    background-color: #FFFFFF;
                    color: $color-black-light;
                    box-shadow: 0 0 0 30px #FFFFFF inset !important;  
                    
                    &:focus,
                    &:active {
                        border-bottom: 1px solid $color-violet;
                    }

                }

            }

            .fc-init-chat-form-input-error-message {
                overflow: hidden;
                margin: 0;
                padding: 0 12px;
                width: 100%;
                height: 0;
                min-height: 0;
                border-radius: 3px;
                line-height: 24px;
                font-family: $font-2;
                font-size: 13px;
                background-color: rgba($color-red-dark, 0.2);
                color: $color-violet-dark;
                transition: all 0.3s linear;
                
            }

            .fc-init-chat-form-input-error-message.fc-init-chat-form-input-error-message-show {
                margin: 5px 0 0;
                padding: 3px 12px;
                min-height: 31px;
            }

            .fc-modal-button {
                margin-top: 10px;

                button {
                    display: block;
                    margin: 0;
                    padding: 0 20px;
                    width: 100%;
                    height: 40px;
                    border-radius: 6px;
                    line-height: 40px;
                    text-align: center;
                    font-family: $font-2;
                    font-size: 13px;
                    background-color: $color-blue-light;
                    color: #FFFFFF;
                
                    & > .fc-load-more-icon,
                    & > .fc-next-icon {
                        vertical-align: middle;
                        margin-top: -5px;
                        line-height: 38px;
                        font-size: 18px;
                    }

                    & > .fc-load-more-icon {
                        display: none;
                    }

                    &.fc-active-button {

                        & > .fc-next-icon {
                            display: none;
                        }
                    
                        & > .fc-load-more-icon {
                            display: inherit;
                            animation: 2s fc-rotate-icon-animation-next infinite linear;
                        }
                
                    }
                
                    &.fc-option-violet-btn {
                        background-color: rgba($color-violet, 1);
                
                        &:hover {
                            background-color: rgba($color-violet, 0.7);
                        }
                        
                    }
                    
                    &.fc-option-red-btn {
                        background-color: rgba($color-red, 1);
                
                        &:hover {
                            background-color: rgba($color-red, 0.7);
                        }
                        
                    }
                    
                    &.fc-confirmation-button {
                        margin-top: 20px;
                        min-width: 110px;
                    }

                }

            }

        }

    }

}

